/*-------------------------------------css resetå¼€å§‹-------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,input,select,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section,img {display:block;}
audio,canvas,video {display:inline-block;}
input,button,select,textarea {font-size:100%;color:#959595;outline:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
table {border-collapse:collapse;border-spacing:0;}
iframe {display:block;}
ul,ol,li{list-style-type:none;}
a,img{border:0;margin:0;padding:0;}
/*-------------------------------------css resetç»“æŸ-------------------------------------*/
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:#09081f;
}
#HMZ{
    background: #070432 url("../images/bg.jpg") no-repeat center;
}
.hid{
    display:none;
    opacity: 0;
}
#logo{/*16:9*/
    position: absolute;
    top:30px;
    left: 29px;
    height: 69px;
    width: 139px;
    background: url("../img/logo.png") no-repeat center;
    background-size:cover;
    z-index: 2000;
}
.landscape{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/landscape.jpg") no-repeat center;
}
@media all and (orientation: portrait) {
    .landscape{
        display: none;
        opacity: 0;
        z-index: -1;
    }
}
@media all and (orientation: landscape) {
    .landscape{
        display: block;
        opacity: 1;
        z-index: 50000;
    }
}
