<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大拇指点赞</title>
    <link rel="stylesheet" type="text/css" href="/css/thumb.css">
    <style>
        #container{
            width: 500px;
            height: 500px;
        }
    </style>
</head>
<body>
    <div id="container"></div>
</body>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/system.js"></script>
<script type="text/javascript">
    SystemJS.import('../js/thumb.js').then(function (){
        $("#container").thumbLike(10);
    })
</script>
</html>