body, html {
  background: #fff;
  font-size: 12px;
}
.head-nav {
  width: 100%;
  min-width: 1200px;
  height: 41px;
  background-color: #eeeeee;
}
.head-nav .nav {
  height: 100%;
  position: relative;
}
.head-nav .nav .nav_left {
  width: 433px;
  height: 100%;
  overflow: hidden;
}
.head-nav .nav .nav_left ul li {
  padding-top: 16px;
  line-height: 14px;
  font-size: 14px;
  margin: 0 10.4px;
}
.head-nav .nav .nav_left ul li a {
  color: #959595;
}
.head-nav .nav .nav_left ul li.first {
  margin-left: 0;
}
.head-nav .nav .nav_left ul li.last {
  margin-right: 0;
}
.head-nav .nav .nav_right {
  width: 370px;
  margin-top: 10px;
}


.nav_item{
  box-sizing: border-box;
  padding: 0 5px;
  border-radius: 2px;
  line-height: 22px;
  font-size: 14px;
}
.nav_item a{
  color: #959595;
}
.nav_item:hover,.nav_item.active{
  background: #c81e27;
}
.nav_item:hover a,.nav_item.active a{
  color: #fff;
}
.nav_line{
  height: 9px;
  width: 1px;
  background: #cecece;
  margin: 10px 20px 0;
}
.nav_sgin{
  margin-left: 10px;
}
.nav_login{
  position: relative;
  padding-left: 24px;
}
.nav_login i{
  position: absolute;
  width: 15px;
  height: 13px;
  left: 6px;
  top:4px;
  background: url('../images/index/icon/icon_login.png') no-repeat center;
}
/*logo*/
.head{
  height:173px;
  border-bottom: 1px #bbb dashed;
}
.logo{
  width: 297px;
  height: 100%;
}
.logo img{
  width: 100%;
  margin-top: 40px;
}
.back{
  cursor: pointer;
  margin-top: 65px;
  margin-bottom: 14px;
  width: 63px;
  height: 20px;
  background: url("../images/content/btn/btn_back_top.png") no-repeat center right;
}
.nav-bar,.nav-bar a{
  color: #959595;
  font-size: 14px;
}
/*title*/
.title{
  color: #333;
  font-size: 40px;
  line-height: 40px;
  margin-top:46px;
}
.sub-title{
  color: #a0a0a0;
  font-size: 16px;
  line-height: 16px;
  margin-top:23px;
  margin-bottom: 41px;
}
.sub-title span{
  display: inline-block;
  margin-left: 27px;
}
.sub-title span.first{
  margin-left: 0;
}
.share{
  cursor: pointer;
  margin-top: 62px;
  width: 44px;
  height: 44px;
  background: url('../images/content/btn/btn_share.png') no-repeat center;
}
/*banner*/
.banner{
  padding-bottom: 55px;
  border-bottom: 1px #bbb dashed;
}
.banner img{
  vertical-align: middle;
  width: 100%;
}
.detail{
  margin-top: 44px;
  font-size: 18px;
  line-height: 34px;
  color: #666666;
}
.detail1{
  margin-top: 40px;
}
.detail span{
  font-size:38px;
  color:#c81e27;
}
/*meaning意义*/
.meaning_box{
  width: 945px;
  margin: 65px auto 0;
}
.meaning_box_title{
  text-align: center;
  color: #333;
  font-size: 32px;
  line-height: 1;
}
.meaning_items{
  margin-top: 72px;
  margin-bottom: 49px;
}
.meaning_item{
  margin-top:60px;
}
.meaning_item .meaning_item_title{
  padding-left:49px;
  font-size:26px;
  line-height: 26px;
  position: relative;
}
.meaning_item .meaning_item_title i{
  width: 37px;
  height: 37px;
  position: absolute;
  left: 0;
  top:-5px;
}
.meaning_item_inner{
  width: 694px;
}
.meaning_item_inner_img img{
  vertical-align: middle;
}
.meaning_item_inner_detail{
  font-size: 18px;
  line-height: 34px;
  color:#666;
  margin-top: 17px;
}

.meaning_item1 .meaning_item_title{color: #049d24}
.meaning_item1 .meaning_item_title i{background: url("../images/content/icon/icon_meaning1.png") no-repeat center;}

.meaning_item2 .meaning_item_title{color: #fe6d02}
.meaning_item2 .meaning_item_title i{background: url("../images/content/icon/icon_meaning2.png") no-repeat center;}

.meaning_item3 .meaning_item_title{color: #096ca0}
.meaning_item3 .meaning_item_title i{background: url("../images/content/icon/icon_meaning3.png") no-repeat center;}

.meaning_item4 .meaning_item_title{color: #c81e27}
.meaning_item4 .meaning_item_title i{background: url("../images/content/icon/icon_meaning4.png") no-repeat center;}

/*page分页*/
.page{
  height: 114px;
  border-top: 1px #e3e3e3 solid;
  border-bottom: 1px #e3e3e3 solid;
  text-align: center;
}
.page a{
  margin-top: 40px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  height: 34px;
  line-height: 34px;
  margin-left: 11px;
}
a.prev{
  margin-left: 0;
}
a.select{
  margin-left: 18px;
}

.select,.select:hover,.select:active{
  width: 135px;
  color:#fff;
  background: #fe7611;
}
.page_item{
  width: 42px;
  color:#333333;
  border: 1px solid #dcdcdc;
}
.page_item:hover{
  background: #b91d1d;
  color: #fff;
  border: none;
}
.prev,.next{
  width: 184px;
  background: #c9c9c9;
  color: #fff;
}
.prev:hover,.next:hover{
  background: #b91d1d;
}

/*control控制栏*/
.control{
  height: 128px;
  border-bottom: 6px solid #8c8c8c;
}
.control_back,.control_close{
  cursor: pointer;
  width: 152px;
  height: 44px;
  margin-top: 48px;
}
.control_back{
  background: url('../images/content/btn/btn_back_bottom.png') no-repeat center;
}
.control_close{
  background: url('../images/content/btn/btn_close_bottom.png') no-repeat center;
}
/*foot*/
.foot_box3{
  margin-top: 31px;
}
.foot_box3_link{
  text-align: center;
  font-size: 12px;
  margin-bottom: 16px;
}
.foot_box3_link a{
  color: #959595;
}
.foot_box3_link i{
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 10px;
  background: #959595;
  vertical-align: middle;
  margin-top: -2px;
}
.foot_box3_position{
  text-align: center;
  font-size: 12px;
  color: #959595;
}
.foot_box3_position span{
  display: inline-block;
  margin-left: 23px;
}
.foot_box3_position span.first{
  margin-left: 0;
}
.foot_content{
  margin-bottom: 28px;
}
