/*head*/
.head{
    height:124px;
}
.logo{
    width: 297px;
    height: 100%;
}
.head_items{
    width: 370px;
    margin-top: 57px;
    margin-right: -3px;
}
.logo img{
    width: 100%;
    margin-top: 17px;
}
.head_item{
    padding: 0 5px;
    border-radius: 2px;
    height: 22px;
    font-size: 16px;
}
.head_item a{
    color: #666666;
}
.head_item:hover,.head_item.active{
    background: #c81e27;
}
.head_item:hover a,.head_item.active a{
    color: #fff;
}
.head_line{
    height: 9px;
    width: 1px;
    background: #cecece;
    margin: 10px 13px 0;
}
.head_line1{
    margin: 10px 17px 0;
}
.head_sgin{
    margin-left: 10px;
}
.head_login{
    position: relative;
    padding-left: 24px;
}
.head_login i{
    position: absolute;
    width: 15px;
    height: 13px;
    left: 6px;
    top:5px;
    background: url('../images/index/icon/icon_login.png') no-repeat center;
}
/*nav*/
.nav{
    overflow: hidden;
    position: relative;
    height: 80px;
    background: #c81e27;
}
.nav .container{
    position: relative;
    z-index: 1;
}
.nav_bg{
    height: 100%;
    position: absolute;
    top:0;
}
.nav_bg_left{
    left: 0;

}
.nav_bg_right{
    right: 0;

}
.nav_bg img{
    height: 100%;
}
.nav_item a,.nav_item a:hover,.nav_item a:active{
    color: #ffffff;
}

.nav_item{
    font-size: 22px;
    color: #fff;
    margin-left:65px;
    height: 100%;
    line-height: 80px;
}
.nav_item_first{
    margin-left: 0;
}
.nav_search{
    margin-top: 24px;
    position: relative;
    overflow: hidden;
}
.nav_search input{
    padding-left: 13px;
    padding-right: 50px;
    width: 161px;
    height: 31px;
    line-height: 31px;
    background: url('../images/index/bg/bg_search.png') no-repeat center;
    border: none;
    font-size:14px;
    color: #959595;
}
.nav_search .line{
    position: absolute;
    width: 1px;
    height:15px;
    background: #dcdcdc;
    right: 39px;
    top:8px;
}
.nav_search .search_btn{
    cursor: pointer;
    position: absolute;
    right: 11px;
    top:5px;
    width: 20px;
    height:20px;
    background: url('../images/index/btn/btn_search.png') no-repeat center;
}
/*banner*/
.swiper-slide{
    overflow: hidden;
}
.container_slide{
    position: relative;
    z-index: 1;
    height: 533px;
    margin-top: -533px;
    color: #fff;
}
.banner_img{
    height: 533px;
    overflow: hidden;
}
.banner img{
    vertical-align: middle;
    width: 100%;
    min-width: 1920px;
}

.banner_swiper-box{
    width: 100%;
    margin-top: -447px;
}
.banner_num-box{
    position: relative;
    overflow: hidden;
    z-index: 50;
}
.banner_buttons-box{
    position: relative;
    overflow: hidden;
    z-index: 50;
}
.banner_buttons{
    position: relative;
    overflow: hidden;
    height: 45px;
    margin-top: 266px;
}
.banner_num{
    position: relative;
    color: #fff;
    margin-top: 83px;
    margin-left:796px;
    /*right: 300px;*/
    /*top:83px;*/
    width: 104px;
    height: 53px;
}
.banner_num_border{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    border: 1px solid #fff;
}
.banner_num_inner{
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
    opacity: 0.68;
    filter:Alpha(opacity=68);
    width: 100%;
    height: 100%;
    text-align: center;
}
.banner_num_big{
    display: inline-block;
    font-size:46px;
    line-height: 53px;
    vertical-align:sub;
}
.banner_num_small{
    display: inline-block;
    font-size: 20px;
    vertical-align:sub ;
}
.banner_title{
    position: absolute;
    right: 45px;
    top:162px;
    font-size: 36px;
    line-height: 56px;
    width:360px;
}
.banner_content{
    position: absolute;
    right: 45px;
    top:276px;
    font-size: 14px;
    line-height: 20px;
    width:360px;
    color: #d9d9d9;
}
.banner_line{
    position: absolute;
    right: 0;
    top:364px;
    width: 405px;
    height: 1px;
    opacity: 0.41;
    filter:Alpha(opacity=41);
    background: #fff;
}

.banner_btn{
    left: auto;
    right: auto;
    margin-top: 0;
    background-size: auto;
    position: absolute;
    top:0;
    width: 61px;
    height: 100%;
    background-color: #e8e8e8;
    background-repeat: no-repeat;
}
.banner_prev{
    right:206px;
    background-image: url('../images/index/btn/btn_bannerleft.png');
}
.banner_next{
    right:134px;
    background-image: url('../images/index/btn/btn_bannerright.png');
}
.banner_prev:hover{
    background-color: #c81e27;
    background-image: url('../images/index/btn/btn_bannerleft_hover.png');
}
.banner_next:hover{
    background-color: #c81e27;
    background-image: url('../images/index/btn/btn_bannerright_hover.png');
}
/*sub-nav 副导航*/
.sub-nav-container{
    position: relative;
    z-index: 10;
    margin-top:-39px;
}
.sub-nav{
    font-size: 20px;
    color: #fff;
    text-align: center;
    height: 135px;
    background: #b91d1d;
}
.sub-nav_icon{
    height: 100%;
    width: 640px;
    margin-left: 43px;
}
.sub-nav_noIcon{
    width: 517px;
    height: 100%;
    background: #a41515;
}
.sub-nav_icon_item{
    cursor: pointer;
    margin-left: 58px;
}
.sub-nav_icon_item.first{
    margin-left: 0;
}
.sub-nav_icon_item img{
    vertical-align: middle;
}
.sub-nav_icon_item .icon{
    margin-top: 32px;
    margin-bottom: 20px;
}
.sub-nav_icon_item .text{
    line-height: 1;
}
.sub-nav_noIcon_item{
    cursor: pointer;
    font-size: 22px;
    height: 100%;
    line-height: 135px;
}
.sub-nav_noIcon_item.first{
    margin-left: 29px;
}
.sub-nav_noIcon_line{
    width: 1px;
    height: 19px;
    background: #fff;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    margin: 60px 25px 0;
}
/*content内容*/
.content{
    margin-top: 34px;
}
.notice{
    height: 543px;
    width: 750px;
}
.schedule{
    margin-left: 44px;
    height: 543px;
    border: 6px solid #ebebeb;
    box-sizing: border-box;
    width: 406px;
}
.news{
    width: 100%;
}

.notice .title,.schedule .title,.news .title{
    margin-top: 40px;
    position: relative;
}
.news .title{
    margin-top: 67px;
}
.content .more{
    cursor: pointer;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 0;
    top:0;
    background: url('../images/index/btn/more.png') no-repeat center;
}
.content img{
    vertical-align: middle;
}
.notice .title{
    margin-bottom: 28px;
}
.schedule .title{
    margin-top: 34px;
    margin-left: 22px;
    margin-bottom: 32px;
}
.news .title{
    margin-bottom: 29px;
}
.notice .line{
    width: 100%;
    height: 8px;
    background: url('../images/index/line_notice.png') no-repeat center;
}
.notice_item.first{
    margin-top: 29px;
}
.notice_item{
    margin-top: 34px;
    padding-bottom: 33px;
    border-bottom: 1px #c7c7c7 dashed;
}
.notice_item_data{
    width: 89px;
    height: 72px;
    background: url('../images/index/date.png') no-repeat center;
    text-align: center;
    color: #fff;
}
.inotice_tem_data_day{
    font-size: 24px;
    line-height: 1;
    margin-top: 6px;
}
.notice_item_data_month{
    margin-top: 6px;
    font-size: 12px;
    line-height: 1;
}
.notice_item_short{
    margin-left: 35px;
    width: 626px;
}
.notice_item_short_title{
    font-size: 20px;
    line-height: 1;
}
.notice_item_short_inner{
    margin-top: 9px;
    font-size: 14px;
    line-height: 24px;
}
.notice_item_short_title a{
    color: #333;
}
.notice_item_short_inner a{
    color: #959595;
}
.notice_item_short:hover a{
    color: #c81e27;
}

.schedule .line{
    width: 100%;
    height: 9px;
    background: url('../images/index/line_schedule.png') no-repeat center;
}
.schedule_item_inner{
    margin-top: -1px;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 56px;
}
.schedule_items i{
    position: absolute;
    left: 29px;
    top:5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/index/icon/icon_circle.png");
}
.schedule_item a{
    color: #666666;
}
.schedule_item:hover a{
    color: #b71515;
}
.schedule_item:hover i{
    background-image: url("../images/index/icon/icon_circle_hover.png");
}
.schedule_item_line{
    margin-left:33px ;
    height: 51px;
    width: 1px;
    background: #ebebeb;
}
.schedule_item_line.last{
    height: 25px;
}
.schedule_item{
    margin-top: -1px;
}
.schedule_item.first{
    margin-top: 0;
}
.schedule_item.first .schedule_item_line{
    height: 28px;
}
.schedule_item_inner{
    position: relative;
}
.schedule_item_inner_data{
    margin-right: 26px;
}
.schedule_item_inner_text span{
    position: absolute;
    left: 197px;
    top:24px;
    font-size: 14px;
}
.news .line{
    width: 100%;
    height: 8px;
    background: url('../images/index/line_news.png') no-repeat center;
    margin-bottom: 42px;
}
.news_box{
    height: 424px;
    box-sizing: border-box;
    padding: 26px 30px 0;
    margin-bottom: 79px;
    background: url('../images/index/bg/bg_news.png') no-repeat top center;
}
.new_item{
    width: 363px;
    margin-left: 21px;
}
.new_item.first{
    margin-left: 0;
}
.new_item_img{
    position: relative;
    width: 363px;
    height: 221px;
    margin-bottom: 43px;
}
.new_item_img_hover{
    display: none;
    opacity: 0.8;
    filter:Alpha(opacity=80);
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: #000000 url("../images/index/nesw_hover.png") no-repeat center;
}
.new_item_txt{
    margin-bottom: 22px;
}
.new_item_txt_title{
    font-size: 20px;
    color: #333;
    line-height: 1;
}
.new_item_txt_inner{
    font-size: 14px;
    line-height: 24px;
    color: #959595;
    margin-top: 15px;
    margin-bottom: 15px;
}
.new_item_txt_time{
    font-size: 14px;
    line-height: 1;
    color: #959595;
}
.new_item_line{
    width: 100%;
    height: 4px;
    background: #fdde7d;
}
.new_item:hover .new_item_img_hover{
    display: block;
}
.new_item:hover .new_item_line{
    background:#898989;
}
/*student*/
.student{
    position: relative;
    width: 100%;
    height: 590px;
    overflow: hidden;
}
.student_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.student_bg img{
    width: 100%;
    height: 100%;
}
.student_content{
    text-align: center;
    position: relative;
    z-index: 1;
}
.student_title{
    text-align: center;
    color: #fff;
    line-height: 1.2;
    margin-top: 46px;
    margin-bottom: 60px;
}
.student_title b{
    font-size: 34px;
    display: inline-block;
    vertical-align: bottom;
}
.student_title span{
    font-size: 31px;
    display: inline-block;
    margin-left: 20px;
    line-height: 30px;
    vertical-align: bottom;
}
.student_head{
    margin-bottom: 25px;
}
.student_head img{
    vertical-align: middle;
}
.student_name{
    font-size: 24px;
    color: #fff000;
    line-height: 1;
    margin-bottom: 12px;
}
.student_class{
    font-size: 16px;
    color: #a7a7a7;
    line-height: 1;
}
.student_text{
    width: 882px;
    margin: 27px auto 0;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
.student_index{
    margin: 42px auto 0;
    text-align: center;
    width: 94px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    background: url("../images/index/student_index.png") no-repeat center;
}
.student_prev,.student_prev:hover{
    left: 0;
    width: 77px;
    height: 77px;
    background: url('../images/index/btn/btn_studentleft.png') no-repeat center;
 }
.student_next,.student_next:hover{
    right: 0;
    width: 77px;
    height: 77px;
    background: url('../images/index/btn/btn_studentright.png') no-repeat center;
}

.student_num-box{
    position: relative;
    overflow: hidden;
    z-index: 50;
}
/*foot*/
.foot{
    position: relative;
    height: 609px;
}
.foot_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #c81e27;
}
.foot_bg img{
    height: 100%;
}
.foot_line{
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ff3c4e;
}
.foot_line1{
    top:200px;
}
.foot_line2{
    top:490px;
}
.foot_content{
    position: relative;
    z-index: 1;
    height: 100%;
}
.foot_box1{
    height: 200px;
    position: relative;
}
.tel{
    text-align: center;
    margin-top: 85px;
}
.tel1{
    margin-left: 370px;
}
@media \0screen\,screen\9{
    /*IE 8 、IE 7上场了*/
    .tel1{
        margin-left: 360px;
    }
}
.tel2{
    margin-left: 47px;
}
.code{
    margin-top: 46px;
}

.code1{
    margin-left: 85px;
}
.code2{
    margin-left: 61px;
}

.tel_title{
    line-height: 1;
    font-size: 15px;
    color: #ff9ca1;
    margin-bottom: 13px;
}
.tel_num{
    line-height: 1;
    font-size: 25px;
    color: #fff;
}

.foot_box2_item{
    margin-top: 32px;
    margin-bottom: 30px;
    line-height: 28px;
}
.foot_box2_item.last{
    margin-left: 21px;
}
.foot_box2_item_title{
    height: 28px;
    font-size: 14px;
    color: #ffe400;
}
.foot_box2_item_select a{
    font-size: 14px;
    color: #fff;
}
.foot_box2_line{
    width: 1px;
    height: 33px;
    margin-top: 95px;
    background: #fff;
    opacity: 0.3;
    filter:Alpha(opacity=30);
}
.foot_box2_line1{margin-left: 47px;margin-right: 84px;}
.foot_box2_line2{margin-left: 86px;margin-right: 86px;}
.foot_box2_line3{margin-left: 68px;margin-right: 90px;}
.foot_box2_line4{margin-left: 53px;margin-right: 90px;}

.foot_box3{
    margin-top: 38px;
}
.foot_box3_link{
    text-align: center;
    font-size: 12px;
    margin-bottom: 16px;
}
.foot_box3_link a{
    color: #fff;
}
.foot_box3_link i{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background: #fff;
    vertical-align: middle;
    margin-top: -2px;
}
.foot_box3_position{
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.foot_box3_position span{
    display: inline-block;
    margin-left: 23px;
}
.foot_box3_position span.first{
    margin-left: 0;
}


